<script type='text/javascript'>
$(function() {
Dashing.gridsterLayout('[{"col":2,"row":1,"size_x":2,"size_y":1},{"col":4,"row":1,"size_x":1,"size_y":1},{"col":1,"row":2,"size_x":1,"size_y":1},{"col":1,"row":1,"size_x":1,"size_y":1},{"col":2,"row":2,"size_x":2,"size_y":1},{"col":4,"row":2,"size_x":1,"size_y":1}]')
Dashing.widget_base_dimensions = [370, 370]
  Dashing.numColumns = 4
});
</script>
<% content_for :title do %>NapPlay Dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="welcome" data-view="Text" data-title="Hello" data-text="Welcome to the NET SET Dashboard"</div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Countdown" data-title="App Submission" data-end="01-May-2015 18:00:00"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Countdown" data-title="NET SET GO!" data-end="13-May-2015 18:00:00"></div>
    </li>

    <li data-row="3" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="heroku-prod" data-view="Heroku" data-title="Heroku Status"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="twitter_mentions" data-view="Comments" style="background-color:#00afd7;" data-moreinfo="Tweets @thenetbook"></div>
      <i class="icon-twitter icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="app_store_rating" data-view="Appstore" data-title="The Net Set"></div>
    </li>
  </ul>


 
 <!-- <center><div style="font-size: 12px">Try this: curl -d '{ "auth_token": "YOUR_AUTH_TOKEN", "text": "Hey, Look what I can do!" }' \http://<%=request.host%>:<%=request.port%>/widgets/welcome</div></center> -->
</div>