<script type='text/javascript'>
$(function() {
  // These settings override the defaults set in application.coffee. You can do this on a per dashboard basis.
  //Dashing.gridsterLayout('[{"col":2,"row":1},{"col":1,"row":1},{"col":3,"row":1},{"col":2,"row":2},{"col":3,"row":2},{"col":1,"row":2},{"col":5,"row":1},{"col":4,"row":2},{"col":2,"row":3}]')
  Dashing.widget_base_dimensions = [370, 340]
  Dashing.numColumns = 5
});
</script>


<% content_for :title do %>NapPlay New Relic<% end %>

<div class="gridster">
  <ul>
    <li data-row="1" data-col="5" data-sizex="1" data-sizey="1">
      <div><iframe src="https://rpm.newrelic.com/public/charts/l3lwgGhdpIC" width="500" height="340" scrolling="no" frameborder="no"></iframe></div>
    </li>

    <li data-row="1" data-col="4" data-sizex="1" data-sizey="1">
      <div><iframe src="https://rpm.newrelic.com/public/charts/cBYuTt93Vv0" width="500" height="340" scrolling="no" frameborder="no"></iframe></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div>
        <iframe src="https://rpm.newrelic.com/public/charts/dL7f6zd7WI6" width="800" height="340" scrolling="no" frameborder="no"></iframe>
      </div>
    </li>

    <li data-row="1" data-col="4" data-sizex="1" data-sizey="1">
      <div>
        <iframe src="https://rpm.newrelic.com/public/charts/1Tjc2KDkt4G" width="500" height="340" scrolling="no" frameborder="no"></iframe></div>
    </li>

    <li data-row="3" data-col="3" data-sizex="1" data-sizey="1">
      <div>
        <iframe src="https://rpm.newrelic.com/public/charts/5YyOQyZyr4I" width="500" height="340" scrolling="no" frameborder="no"></iframe></div>
    </li>

    <li data-row="2" data-col="5" data-sizex="1" data-sizey="1">
      <div><iframe src="https://rpm.newrelic.com/public/charts/icYCAwL0g20" width="500" height="340" scrolling="no" frameborder="no"></iframe></div>
    </li>

    <li data-row="3" data-col="1" data-sizex="2" data-sizey="1">
      <div>
      <iframe src="https://rpm.newrelic.com/public/charts/lbro1Go86r4" width="800" height="340" scrolling="no" frameborder="no"></iframe></div>
    </li>

    <li data-row="4" data-col="1" data-sizex="2" data-sizey="1">
      <div><iframe src="https://rpm.newrelic.com/public/charts/6sSJ5sXUBjE" width="800" height="340" scrolling="no" frameborder="no"></iframe></div>
    </li>

    <li data-row="2" data-col="3" data-sizex="2" data-sizey="1">
      <div><iframe src="https://rpm.newrelic.com/public/charts/4ghCuUGPFWP" width="800" height="340" scrolling="no" frameborder="no"></iframe></div>
    </li>

    <li data-row="2" data-col="1" data-sizex="2" data-sizey="1">
      <div><iframe src="https://rpm.newrelic.com/public/charts/4ApbOPRvRka" width="800" height="340" scrolling="no" frameborder="no"></iframe></div>
    </li>

    <li data-row="1" data-col="3" data-sizex="2" data-sizey="1">
      <div><iframe src="https://rpm.newrelic.com/public/charts/74iDBpECXU5" width="800" height="340" scrolling="no" frameborder="no"></iframe></div>
    </li>

    <li data-row="4" data-col="3" data-sizex="3" data-sizey="1">
      <div><iframe src="https://rpm.newrelic.com/public/charts/fvKziZjjpd5" width="1600" height="340" scrolling="no" frameborder="no"></iframe></div>
    </li>
  </ul>

</div>